.popupBlock{
    background: rgba(255,255,255,1);
    width: 880px;
    height: 510px;
}
.popupBlock .content div {
    display: flex;
} 
.header{
    display: flex;
    justify-content: space-between;
}