* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 30px;
    background-color: #ffb400;
  }

  .userHeaderList p{
      font-size: 22px;
      font-family: "Montserrat";
      color: rgb(36, 36, 48);
      font-weight: bold;
      height: 10px;
  }

  .userHeaderList span {
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(36, 36, 48);
      font-weight: bold;
  }
  .userHeaderList{
    margin-top: 10px;
    margin-left: 90px;
  }

  .search{
      border-radius: 10px;
      background-color: #feca61;
      width: 277px;
      height: 39px;
      border: 0;
      /* margin-left: 250px; */
  }

  .tableFilterButton{
      border-style: solid;
      border-width: 1px;
      border-color: rgb(197, 155, 70);
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 4px 0px rgba(230, 230, 232, 0.3);
      width: 119px;
      height: 39px;
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(254, 179, 28);
      text-transform: uppercase;   
      font-weight: bold;
  }

  .headerOption{
    background-color: rgba(255, 255, 255,0);
    border:0;
    box-shadow: 0px 1px 8px 0px rgba(229, 229, 235, 0);
  }